* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #ffffff;
}


.header {
    text-align: left;
    margin: 2rem auto;

    padding-top: 7rem;
    padding-bottom: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header h1 {
    font-size: 2.3rem;
    font-weight: bold;
    color: #22c55e;
    
}

.header h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    margin-top: 0.5rem;
    font-style: italic;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background: rgba(213, 209, 209, 0.8);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.nav-link.active {
    color: #0056b3;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}


.box {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    max-width: 1200px;
    margin: 0 auto;
}
.project-card {
    width: 320px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}

.project-image {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.project-image:hover {
    transform: scale(1.05);
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: green;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-card h2 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #000;
}

.project-card p {
    font-size: 0.9rem;
    margin: 0 15px 15px;
    color: #555;
}

.technologies {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.tech {
    position: relative;
}

.tech img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

.tech:hover img {
    transform: scale(1.2);
}

.tech:hover::after {
    content: attr(title);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 3px;
    white-space: nowrap;
}

.live-demo-button {
    display: inline-block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #22c55e;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.live-demo-button:hover {
    background-color: #0056b3;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 2rem;
    color: #6b7280;
}
